<a href="https://colab.research.google.com/github/antonioravila/PoliticaExternaBrasileira/blob/main/Comex/COMEX.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


#Comércio Exterior Brasileiro

## Bibliotecas

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

##Importando dados csv

In [ ]:
df_balanca = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/TCC/Dados/BalancaComercial.csv', sep=';', on_bad_lines='skip')
df_destino = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/TCC/Dados/porDestino.csv', sep=';', on_bad_lines='skip')

In [ ]:
df_balanca.head()

    Ano    Exp    Imp Saldo
0  1964   1,43  1,086   344
1  1965  1,595    941   654
2  1966  1,741  1,303   438
3  1967  1,654  1,441   213
4  1968  1,881  1,855    26

In [ ]:
df_destino.head()

  Tipo   Ano         Destino Valor_percentual
0  Exp  1964  América do Sul             9.7%
1  Exp  1964  Estados Unidos            33.2%
2  Exp  1964          Europa            32.9%
3  Exp  1964            Ásia             3.4%
4  Exp  1964   Oriente Médio             0.9%

## Tratamento dos dados

In [ ]:
df_destino['Presidente'] = ["Castelo" if ano in (1964, 1965, 1966) else "" 
                            "Costa e Silva" if ano in (1967, 1968, 1969) else ""
                            "Medici" if ano in (1970, 1971, 1972, 1973) else ""
                            "Geisel" if ano in (1974, 1975, 1976, 1977, 1978, 1979) else ""
                            for ano in df_destino["Ano"]]

['Castelo',
 'Castelo',
 'Castelo',
 'Castelo',
 'Castelo',
 'Castelo',
 'Castelo',
 'Castelo',
 'Castelo',
 'Castelo',
 'Castelo',
 'Castelo',
 'Castelo',
 'Castelo',
 'Castelo',
 'Castelo',
 'Castelo',
 'Castelo',
 'Castelo',
 'Castelo',
 'Castelo',
 'Castelo',
 'Castelo',
 'Castelo',
 'Castelo',
 'Castelo',
 'Castelo',
 'Castelo',
 'Castelo',
 'Castelo',
 'Castelo',
 'Castelo',
 'Castelo',
 'Castelo',
 'Castelo',
 'Castelo',
 'Costa e Silva',
 'Costa e Silva',
 'Costa e Silva',
 'Costa e Silva',
 'Costa e Silva',
 'Costa e Silva',
 'Costa e Silva',
 'Costa e Silva',
 'Costa e Silva',
 'Costa e Silva',
 'Costa e Silva',
 'Costa e Silva',
 'Costa e Silva',
 'Costa e Silva',
 'Costa e Silva',
 'Costa e Silva',
 'Costa e Silva',
 'Costa e Silva',
 'Costa e Silva',
 'Costa e Silva',
 'Costa e Silva',
 'Costa e Silva',
 'Costa e Silva',
 'Costa e Silva',
 'Costa e Silva',
 'Costa e Silva',
 'Costa e Silva',
 'Costa e Silva',
 'Costa e Silva',
 'Costa e Silva',
 'Costa e Silva',
 'Costa e Silva',
 'Costa e Silva',
 'Costa e Silva',
 'Costa e Silva',
 'Costa e Silva',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Medici',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel',
 'Geisel']

In [ ]:
df_destino

    Tipo   Ano         Destino Valor_percentual Presidente
0    Exp  1964  América do Sul             9.7%    Castelo
1    Exp  1964  Estados Unidos            33.2%    Castelo
2    Exp  1964          Europa            32.9%    Castelo
3    Exp  1964            Ásia             3.4%    Castelo
4    Exp  1964   Oriente Médio             0.9%    Castelo
..   ...   ...             ...              ...        ...
187  Imp  1979  Estados Unidos            17.9%     Geisel
188  Imp  1979          Europa            18.1%     Geisel
189  Imp  1979            Ásia             8.2%     Geisel
190  Imp  1979   Oriente Médio            32.1%     Geisel
191  Imp  1979          Africa             2.6%     Geisel

[192 rows x 5 columns]

## Análise

### Balança Comercial

### Exportações e Importações por Destino