<a href="https://colab.research.google.com/github/antonioravila/PoliticaExternaBrasileira/blob/main/Analise_de_tratados/Tratados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Ditadura Militar Brasileira de 1964 - Análise de Tratados

## Bibliotecas

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
from pandas.core.common import SettingWithCopyWarning

warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

## Importando dados csv

In [2]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/TCC/Dados/Tratados.csv', sep=';', on_bad_lines='skip')
df

,Título do Acordo,Outra Parte,Assuntos,Data Celebração,Status da Tramitação
0,Protocolo entre o Governo da República Federat...,Sérvia,Pagamentos e Resgates,27/05/1977,Em Vigor
1,"Ajuste Complementar, entre a República \nFeder...",Canadá,Cooperação Técnica,06/09/1978,Expirado
2,"Ajuste Complementar, entre a República \nFeder...",Canadá,Cooperação Técnica,06/09/1976,Expirado
3,Conclusão dos Contratos no Setor da \nEducação...,Guiné Bissau,Cooperação Artístico-cultural,19/06/1976,Em Vigor
4,"Acordo. p.t.n., de Sede entre os Estados Unido...",UNESCO,Acordo de Sede,07/06/1966,Em Vigor
...,...,...,...,...,...
1207,Declaração Cultural Conjunta Brasil-Argentina,Argentina,Declaração Conjunta,05/08/1964,Em Vigor
1208,Protocolo Adicional ao Tratado sobre Ligação \...,Bolívia,Transporte Ferroviário - Empréstimos,23/07/1964,Em Vigor
1209,Acordo para a Cessão de Terreno da \nEmbaixada...,Argentina,Relações Diplomáticas e Consulares,16/07/1964,Em Vigor
1210,Emenda ao 5º Acordo de Produtos Agrícolas de\n...,Estados Unidos,Produtos Agrícolas,15/05/1964,Em Vigor
1211,Acordo de Co-Produção Cinematográfica entre o ...,Itália,Cooperação Artístico-cultural,18/04/1964,Substituído

## Tratamento dos dados

In [3]:
# Nota-se uma diferença entra as entradas e os 1117 valores não nulos de cada row
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1212 entries, 0 to 1211
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Título do Acordo      1117 non-null   object
 1   Outra Parte           1117 non-null   object
 2   Assuntos              1117 non-null   object
 3   Data Celebração       1117 non-null   object
 4   Status da Tramitação  1117 non-null   object
dtypes: object(5)
memory usage: 47.5+ KB

In [4]:
# Checando quais rows estão nulos no csv
df[df['Outra Parte'].isnull()]

,Título do Acordo,Outra Parte,Assuntos,Data Celebração,Status da Tramitação
52,NaN,NaN,NaN,NaN,NaN
62,NaN,NaN,NaN,NaN,NaN
71,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN
91,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...
1157,NaN,NaN,NaN,NaN,NaN
1170,NaN,NaN,NaN,NaN,NaN
1182,NaN,NaN,NaN,NaN,NaN
1192,NaN,NaN,NaN,NaN,NaN
1204,NaN,NaN,NaN,NaN,NaN

In [5]:
# Apagando rows nulas e checando se teve efeito
df.dropna(subset=['Outra Parte'], inplace=True)
df[df['Outra Parte'].isnull()]

Empty DataFrame
Columns: [Título do Acordo, Outra Parte, Assuntos, Data Celebração, Status da Tramitação]
Index: []

In [6]:
df['Data Celebração'] = pd.to_datetime(df['Data Celebração'])
df

,Título do Acordo,Outra Parte,Assuntos,Data Celebração,Status da Tramitação
0,Protocolo entre o Governo da República Federat...,Sérvia,Pagamentos e Resgates,1977-05-27,Em Vigor
1,"Ajuste Complementar, entre a República \nFeder...",Canadá,Cooperação Técnica,1978-06-09,Expirado
2,"Ajuste Complementar, entre a República \nFeder...",Canadá,Cooperação Técnica,1976-06-09,Expirado
3,Conclusão dos Contratos no Setor da \nEducação...,Guiné Bissau,Cooperação Artístico-cultural,1976-06-19,Em Vigor
4,"Acordo. p.t.n., de Sede entre os Estados Unido...",UNESCO,Acordo de Sede,1966-07-06,Em Vigor
...,...,...,...,...,...
1207,Declaração Cultural Conjunta Brasil-Argentina,Argentina,Declaração Conjunta,1964-05-08,Em Vigor
1208,Protocolo Adicional ao Tratado sobre Ligação \...,Bolívia,Transporte Ferroviário - Empréstimos,1964-07-23,Em Vigor
1209,Acordo para a Cessão de Terreno da \nEmbaixada...,Argentina,Relações Diplomáticas e Consulares,1964-07-16,Em Vigor
1210,Emenda ao 5º Acordo de Produtos Agrícolas de\n...,Estados Unidos,Produtos Agrícolas,1964-05-15,Em Vigor
1211,Acordo de Co-Produção Cinematográfica entre o ...,Itália,Cooperação Artístico-cultural,1964-04-18,Substituído

In [7]:
"""
- O método utilizado aqui para a criação das colunas (Com o nome do presidente 
do período) está longe do ideal e de algo otimizado
- A necessidade de criação de tantas linhas de código se deu pela 
impossibilidade de realizar tal processo por qualquer metodo que iterasse 
sobre as rows da coluna "Data Celebração".
- Mesmo transformando a coluna em timestamp anteriormente, ao iterar sobre ela
o Python dava o erro: "TypeError: '<=' not supported between instances of 
'Timestamp' and 'str'"
-Dessa forma, foram separados os dados em 4 diferentes dataframes, criadas as 
colunas com o nome do presidente em cada e juntados por meio do merge()
"""

df_1 = df[df['Data Celebração'] >= '1964-04-15']
df_1 = df_1[df_1['Data Celebração'] <= '1967-03-15']
df_1['Presidente'] = 'Castelo Branco'

df_2 = df[df['Data Celebração'] >= '1967-03-16']
df_2 = df_2[df_2['Data Celebração'] <= '1969-08-31']
df_2['Presidente'] = 'Costa e Silva'

df_3 = df[df['Data Celebração'] >= '1969-10-30']
df_3 = df_3[df_3['Data Celebração'] <= '1974-03-15']
df_3['Presidente'] = 'Emilio Garrastazu Medici'

df_4 = df[df['Data Celebração'] >= '1974-03-15']
df_4 = df_4[df_4['Data Celebração'] <= '1979-03-15']
df_4['Presidente'] = 'Ernesto Geisel'

df = df_1.merge(right=df_2, how='outer').merge(right=df_3, how='outer').merge(right=df_4, how='outer')
df

,Título do Acordo,Outra Parte,Assuntos,Data Celebração,Status da Tramitação,Presidente
0,"Acordo. p.t.n., de Sede entre os Estados Unido...",UNESCO,Acordo de Sede,1966-07-06,Em Vigor,Castelo Branco
1,Convenção para Evitar a Bitributação sobre o \...,Estados Unidos,"Aduanas, Impostos e Tarifas",1967-03-13,Superado,Castelo Branco
2,Convênio Complementar ao Acordo Básico de \nCo...,Alemanha,Cooperação Técnica,1967-02-28,Expirado,Castelo Branco
3,Acordo entre os Estados Unidos do Brasil e os ...,Estados Unidos,Defesa e Assuntos Militares,1967-01-27,Denunciado,Castelo Branco
4,Acordo Introduzindo Modificações no Acordo de ...,República Tcheca,Comércio,1967-01-26,Substituído,Castelo Branco
...,...,...,...,...,...,...
1079,Acordo Constitutivo de uma Comissão Mista \nEc...,Alemanha,Comissão Mista,1974-05-03,Em Vigor,Ernesto Geisel
1080,Nota Interpretativa do Anexo C do Tratado para...,Paraguai,Energia,1974-11-02,Em Vigor,Ernesto Geisel
1081,Nota de Intenção Paraguaia Referente a um \nPr...,Paraguai,Previdência Social,1974-11-02,Em Vigor,Ernesto Geisel
1082,Protocolo sobre Relações de Trabalho e \nPrevi...,Paraguai,Previdência Social,1974-11-02,Em Vigor,Ernesto Geisel
1083,Acordo Relativo às atividades da Estação de Ra...,Estados Unidos,Espaço Exterior,1974-12-02,Em Vigor,Ernesto Geisel

## Análise dos tratados

In [8]:
freq_Outra_Parte = pd.DataFrame(df['Outra Parte'].value_counts())
freq_Outra_Parte.reset_index(inplace=True)
freq_Outra_Parte.rename(columns = {'index': 'Outra Parte', 'Outra Parte': 'Contagem'}, inplace=True)

### Outra Parte

In [9]:
freq_Outra_Parte

                                           Outra Parte  Contagem
0                                             Alemanha       179
1                                       Estados Unidos        79
2                                             Paraguai        46
3                                              Bolívia        44
4                                               França        40
..                                                 ...       ...
102                                             Sérvia         1
103                               República Dominicana         1
104                                          Paquistão         1
105  BID (Banco \nInteramericano de \nDesenvolvimento)         1
106                                             UNESCO         1

[107 rows x 2 columns]

### Presidente

In [10]:
freq_Presidente = pd.DataFrame(df['Presidente'].value_counts())
freq_Presidente.reset_index(inplace=True)
freq_Presidente.rename(columns = {'index': 'Presidente', 'Presidente': 'Contagem'}, inplace=True)
freq_Presidente

                 Presidente  Contagem
0            Ernesto Geisel       454
1  Emilio Garrastazu Medici       373
2            Castelo Branco       135
3             Costa e Silva       122

### Assuntos

In [11]:
freq_Assuntos = pd.DataFrame(df['Assuntos'].value_counts())
freq_Assuntos.reset_index(inplace=True)
freq_Assuntos.rename(columns = {'index': 'Assunto', 'Assunto': 'Contagem'}, inplace=True)
freq_Assuntos

                                               Assunto  Assuntos
0                                  Declaração Conjunta       115
1                                             Comércio        82
2                                   Cooperação Técnica        62
3                        Cooperação Artístico-cultural        55
4                                     Transporte Aéreo        54
..                                                 ...       ...
104  Agricultura - Cooperação Técnica - Cooperação ...         1
105                             Comércio - Agricultura         1
106                Comissão Mista - Cooperação Técnica         1
107                             Empréstimos - Pecuária         1
108  Cooperação Científica e Tecnológica - \nCooper...         1

[109 rows x 2 columns]